$font-base: system-ui;
$font-heading: $font-base;

$lightish-blue: #5062ff;
$black: #000000;
$white: #ffffff;
$dark: #222945;
$cloudy-blue: #c4c9db;
$periwinkle: #8693ff;
$greyish-brown: #3a3736;
$brownish-grey: #686767;
$purple-brown: #231f20;
$lightish-green: #61d57a;
$bluey-green: #28b67a;
$azul: #2439ee;
$cornflower: #5869fa;
$dusty-orange: #ee7324;
$light-mustard: #face58;
$cloudy-blue-two: #c8ccdd;
$pale-grey: #f2f4f9;
$bluey-grey: #a4a9c1;
$pale-grey-two: #dde2ee;
$pale-grey-three: #dee2ef;
$charcoal-grey-two: #3b3940;
$charcoal-grey: #3b393e;


$color-text: $color-black;
$color-bg: $color-white;
$color-reversed-bg: $color-text;
$color-reversed-text: $color-bg;

$gutter: 10px;
$transition-time: .3s;
