$font-base: system-ui;
$font-heading: $font-base;
$base__font-size: 16;

$primary: #5062ff;
$black: #000000;
$white: #ffffff;
$dark: #222945;
$cloudy-blue: #c4c9db;
$primary--light: #8693ff;
$greyish-brown: #3a3736;
$brownish-grey: #686767;
$purple-brown: #231f20;
$second--light: #61d57a;
$second: #28b67a;
$azul: #2439ee;
$cornflower: #5869fa;
$third: #ee7324;
$third--light: #face58;
$cloudy-blue-two: #c8ccdd;
$pale-grey: #f2f4f9;
$bluey-grey: #a4a9c1;
$pale-grey-two: #dde2ee;
$pale-grey-three: #dee2ef;
$charcoal-grey-two: #3b3940;
$charcoal-grey: #3b393e;



$gutter: 10px;
$transition-time: .3s;
