footer{

}

.nav {

    &__footer {

    }

    &__title {
            font-size: calc-em(12);
            font-weight: bold;
            line-height: 1.75;
            color: $dark;
            margin-bottom: 20px;
    }

    &__block {
        padding-right: 40px;
    }

    &__footer-list {

        & li {
        
            & a {
                font-size: calc-em(12);
                line-height: 1.75;
                color: $cloudy-blue-two;
                font-weight: bold;
                transition: all .2s ease;

                &:hover{
                    color: $dark;
                }
            }
        }

    }

}

.social{

    &__footer {

        & ul li {
            margin:0px 5px;
        }

    }

    &__icon {
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        overflow: hidden;
        text-indent: -9999px;
        background-image: url('../images/scl.png');
        display: block;
        position: relative;
        transition: all .2s ease;

        &--fb {
            background-position: -5px -5px;
            
            &:hover{
                background-position: -5px -47px;
            }
        }

        &--tw {

            background-position: -5px -89px;
            &:hover{
                background-position: -5px -131px; 
            }
        }
    }

}

/*

class="social__icon social__icon--fb"

.scl__2fb, .scl__5tw, .scl__3fb, .scl__4tw
{ display: inline-block; background: url('png.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.scl__2fb { background-position: -5px -0px; width: 32px; height: 32px; }
.scl__5tw { background-position: -5px -37px; width: 32px; height: 32px; }
.scl__3fb { background-position: -5px -74px; width: 30px; height: 30px; }
.scl__4tw { background-position: -5px -109px; width: 30px; height: 30px; }
*/