@import "header";
@import "footer";

@media all and (min-width:1400px){
    .container{
        width: 100%;
        max-width: 1370px;
    }
}

.section{

    &--hero{
        padding: 60px 0px 60px;
    }

    &--icons-with-text{
        padding: 70px 0px 85px;
        border-top: 1px solid $pale-grey-three;
        border-bottom: 1px solid $pale-grey-three;
    }

}