<div class="archive">

    <ul class="archive__filters d-flex flex-row flex-wrap justify-content-center align-items-baseline">
        <li><a href="">Water Path</a></li>
        <li><a href="">Ground Path</a></li>
        <li><a href="">Sun Energy Path</a></li>
        <li><a href="">Other Paths</a></li>
        <li><a href="">All Paths</a></li>
    </ul>

    <ul class="archive__list">

        <li class="course__single course__single--archive">
            <div class="course__header course__header--archive">

                <img src="" alt="" class="course__thumb course__thumb--archive">

                <div class="badge badge--small badge--primary-color d-flex flex-column align-items-center justify-content-center">
                    <img src="assets/images/save-water.svg" alt="">
                </div>
                <div class="course__time">

                </div>
            </div>
            <div class="course__desc">
                <p class="course__title">aaa</p>
                <p class="paragraph paragraph--short bold">aaasdsd</p>
                <a href="" class="url url--icon">Watch now</a>
            </div>
        </li>


    </ul>

    <a href="" class="url text-center d-block">See all courses</a>


</div>