{% extends 'base/Layout.twig' %}

{% block content %}

<section class="section section--hero section--bb">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6 col-xl-7">
        <div class="page__title pt-5 text-center text-lg-left">
          <h1>Sustain <span class="color-primary">University</span></h1>
          <p class="subtitle dark col-12 col-lg-8 mt-2 mb-4 pb-2 pt-2 no-gutter-x">
              Always free video courses to help ecology
              and save a lot of money.
          </p>
          <ul class="d-flex flex-column justify-content-center justify-content-lg-start flex-sm-row flex-lg-row mb-5">
            <li class="hero-button__element mb-3 mb-md-0 mr-0 mx-2 mr-lg-4">
              <a class="btn btn--second" href="">Just register the account</a>
            </li>
            <li class="hero-button__element mb-3 mb-md-0 mr-0 mx-2 mr-lg-4">
                <a class="btn btn--white color-primary" href="">Donate our Univeristy</a>
              </li>
          </ul>
          <img class="mt-2" src="assets/images/logo.svg" alt="logo">
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6 col-xl-5">
        <div class="no-gutter-x mx-auto mx-lg-0 ml-lg-auto hero__paths">
            <div class="d-flex flex-column text-center">
                <p class="paragraph paragraph--short bold dark pb-2 mb-4">Choose your educational path</p>
                <ul class="d-flex flex-row flex-wrap justify-content-center justify-content-sm-between">
                  <li class="category__element">
                    <a href="">
                      <div class="badge badge--primary-color d-flex flex-column align-items-center justify-content-center">
                        <img src="assets/images/save-water.svg" alt="">
                        <p>Water Path</p>
                      </div>
                      <!-- /.badge -->
                    </a>
                  </li>
      
                  <li class="category__element">
                    <a href="">
                      <div class="badge badge--secondary-color d-flex flex-column align-items-center justify-content-center">
                        <img src="assets/images/sprout.svg" alt="">
                        <p>Ground Path</p>
                      </div>
                      <!-- /.badge -->
                    </a>
                  </li>
      
                  <li class="category__element">
                    <a href="">
                      <div class="badge badge--third-color d-flex flex-column align-items-center justify-content-center">
                        <img src="assets/images/sun.svg" alt="">
                        <p>Sun Energy Path</p>
                      </div>
                      <!-- /.badge -->
                    </a>
                  </li>
      
                  <li class="category__element">
                    <a href="">
                      <div class="badge badge--white d-flex flex-column align-items-center justify-content-center">
                        <img src="assets/images/recycle.svg" alt="">
                        <p>All Other Paths</p>
                      </div>
                      <!-- /.badge -->
                    </a>
                  </li>
                </ul>
                <p class="paragraph paragraph--short bold mt-2 w-75 mx-auto">We are uploading new videos and lessons
                  all the time. Try to use search if you don’t
                  see your path.</p>
              </div>
        </div>
      </div>
    </div>
  </div>

</section>


  <section class="section section--icons-with-text">
    <div class="container">
      <ul class="d-flex justify-content-center justify-content-lg-between flex-column flex-md-row">
        <li class="pr-2">
            <figure class="text-with-icon d-flex align-items-center justify-content-center justify-content-lg-start flex-column flex-lg-row">
                <img src="assets/images/ecologist.png" alt="">
                <figcaption class="paragraph paragraph--short bold">Sustain University is
                    for educational purpose.
                    <b class="dark">Always Free!</b></figcaption>
            </figure>
        </li>
        <li class="pr-2">
          <figure class="text-with-icon d-flex align-items-center justify-content-center justify-content-lg-start flex-column flex-lg-row">
                <img src="assets/images/prize.png" alt="">
                <figcaption class="paragraph paragraph--short bold"><b class="dark">Educate and save money</b>
                    with new technologies
                    based on ecology</figcaption>
            </figure>
        </li>
        <li class="pr-2">
          <figure class="text-with-icon d-flex align-items-center justify-content-center justify-content-lg-start flex-column flex-lg-row">
                <img src="assets/images/planet-earth.png" alt="">
                <figcaption class="paragraph paragraph--short bold"><b class="dark">Thousands users</b> from
                    all over the world
                    watched our videos</figcaption>
            </figure>
        </li>
      </ul>
    </div>
  </section>

  <section class="section section--courses-list section--bt section--bb">
        <h2 class="section-title text-center">Most popular courses</h2>
        {% include 'base/courses-list.twig' %}
  </section>

  <section class="section section--why-us section--bb">
      <div class="container">
        <h2 class="section-title text-center">Why Sustain University?</h2>
        {% include 'base/why-us.twig' %}
    </div>
  </section>

  <section class="section section--opinions">
      <div class=" opinions__bg col-5 no-gutter-x">
        <img class="o-cover" src="assets/images/opinie2.png" alt="opinions">
      </div>
      <div class="container">
          {% include 'base/opinions.twig' %}
      </div>
    </section>



{% endblock %}
