{% extends 'base/Layout.twig' %}

{% block content %}

<section class="section section--hero">

  <div class="container">
    <div class="row">
      <div class="col12 col-md-12 col-lg-7">
        <div class="page__title">
          <h1>Sustain <span class="color-primary">University</span></h1>
          <p class="subtitle dark">
              Always free video courses to help ecology
              and save a lot of money.
          </p>
          <ul class="d-flex flex-column flex-lg-row">
            <li class="hero-button__element mr-4">
              <a class="btn btn--second" href="">Just register the account</a>
            </li>
            <li class="hero-button__element mr-4">
                <a class="btn btn--white color-primary" href="">Donate our Univeristy</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>


  <section class="section section--icons-with-text">
    <div class="container">
      <ul class="d-flex justify-content-center justify-content-lg-between flex-column flex-lg-row">
        <li class="pr-2">
            <figure class="d-flex justify-content-center justify-content-lg-start flex-column flex-lg-row">
                <img src="pic_trulli.jpg" alt="Trulli" style="width:100%">
                <figcaption class="paragraph paragraph--short bold">Sustain University is
                    for educational purpose.
                    <b class="dark">Always Free!</b></figcaption>
            </figure>
        </li>
        <li class="pr-2">
          <figure class="d-flex justify-content-center justify-content-lg-start flex-column flex-lg-row">
                <img src="pic_trulli.jpg" alt="Trulli" style="width:100%">
                <figcaption class="paragraph paragraph--short bold"><b class="dark">Educate and save money</b>
                    with new technologies
                    based on ecology</figcaption>
            </figure>
        </li>
        <li class="pr-2">
          <figure class="d-flex justify-content-center justify-content-lg-start flex-column flex-lg-row">
                <img src="pic_trulli.jpg" alt="Trulli" style="width:100%">
                <figcaption class="paragraph paragraph--short bold"><b class="dark">Thousands users</b> from
                    all over the world
                    watched our videos</figcaption>
            </figure>
        </li>
      </ul>
    </div>
  </section>

{% endblock %}
