<article class="contributors">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-6 text-center text-xl-left">
                <h2 class="bold">Want to be a Contributor?</h2>
                <p class="mt-2 pb-2 mb-4">Write an email to us! We will response in 48 hours.</p>
                <a href="#" class="btn btn--ico btn--primary btn--icon btn--send-email">
                        <img src="assets/images/004-mail.png" alt="mail">
                    Send an email</a>
            </div>
        </div>
    </div>
    <img class="contributors__bg" src="assets/images/green.png" alt="background">
</article>