<div class="archive">

    <ul class="archive__filters d-flex flex-row flex-wrap justify-content-center align-items-baseline">
        <li><a href="">Water Path</a></li>
        <li><a href="">Ground Path</a></li>
        <li><a href="">Sun Energy Path</a></li>
        <li><a href="">Other Paths</a></li>
        <li><a class="active" href="">All Paths</a></li>
    </ul>

    <ul class="archive__list mb-4 d-flex flex-column flex-md-row flex-wrap justify-content-center align-items-center align-items-md-stretch">

        <li class="course__single course__single--archive">
            <div class="course__header course__header--archive">

                <img src="assets/images/bud.png" alt="tytul" class="course__thumb course__thumb--archive">
                <div class="course__labels course__labels--archive">
                    <div class="badge badge--small badge--primary-color d-flex flex-column align-items-center justify-content-center">
                        <img src="assets/images/save-water.svg" alt="">
                    </div>
                    <div class="course__time">
                        <img width="16px" src="assets/images/watch.svg" alt="watch icon"> <span>240 minutes</span>
                    </div>
                </div>
            </div>
            <div class="course__desc">
                <p class="course__title">How to install solar panel at the roof?</p>
                <p class="paragraph paragraph--short bold mb-4">7 lessons course to know how to install solar panel</p>
                <a href="" class="url url--icon"><img width="16px" src="assets/images/olay.svg" alt="play">Watch now</a>
            </div>
        </li>

        <li class="course__single course__single--archive">
            <div class="course__header course__header--archive">

                <img src="assets/images/markus-spiske-785086-unsplash.png" alt="tytul" class="course__thumb course__thumb--archive">
                <div class="course__labels course__labels--archive">
                    <div class="badge badge--small badge--secondary-color d-flex flex-column align-items-center justify-content-center">
                        <img src="assets/images/sprout.svg" alt="">
                    </div>
                    <div class="course__time">
                        <img width="16px" src="assets/images/watch.svg" alt="watch icon"> <span>240 minutes</span>
                    </div>
                </div>
            </div>
            <div class="course__desc">
                <p class="course__title">How to install solar panel at the roof? 7 lessons course to know how to install solar panel</p>
                <p class="paragraph paragraph--short bold mb-4">7 lessons course to know how to install solar panel</p>
                <a href="" class="url url--icon"><img width="16px" src="assets/images/olay.svg" alt="play">Watch now</a>
            </div>
        </li>

        <li class="course__single course__single--archive">
            <div class="course__header course__header--archive">

                <img src="assets/images/carlos-santiago-159235-unsplash.png" alt="tytul" class="course__thumb course__thumb--archive">
                <div class="course__labels course__labels--archive">
                    <div class="badge badge--small badge--third-color d-flex flex-column align-items-center justify-content-center">
                        <img src="assets/images/sun.svg" alt="">
                    </div>
                    <div class="course__time">
                        <img width="16px" src="assets/images/watch.svg" alt="watch icon"> <span>240 minutes</span>
                    </div>
                </div>
            </div>
            <div class="course__desc">
                <p class="course__title">How to install ?</p>
                <p class="paragraph paragraph--short bold mb-4">7 lessons course to know how to install solar panel</p>
                <a href="" class="url url--icon"><img width="16px" src="assets/images/olay.svg" alt="play">Watch now</a>
            </div>
        </li>

        <li class="course__single course__single--archive">
            <div class="course__header course__header--archive">

                <img src="assets/images/rawpixel-191152-unsplash.png" alt="tytul" class="course__thumb course__thumb--archive">
                <div class="course__labels course__labels--archive">
                    <div class="badge badge--small badge--white d-flex flex-column align-items-center justify-content-center">
                        <img src="assets/images/recycle.svg" alt="">
                    </div>
                    <div class="course__time">
                        <img width="16px" src="assets/images/watch.svg" alt="watch icon"> <span>240 minutes</span>
                    </div>
                </div>
            </div>
            <div class="course__desc">
                <p class="course__title">How to install solar panel at the roof?</p>
                <p class="paragraph paragraph--short bold mb-4">7 lessons course to know how to install solar panel. 7 lessons course to know how to install solar panel</p>
                <a href="" class="url url--icon"><img width="16px" src="assets/images/olay.svg" alt="play">Watch now</a>
            </div>
        </li>


    </ul>

    <a href="#" class="url text-center d-block mt-5">See all courses</a>


</div>