{% include 'baner.twig' %}

<footer>
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center align-items-lg-start flex-lg-row justify-content-lg-start">
            <nav class="nav__footer d-flex flex-column flex-md-column flex-lg-row">
                <figure class="nav__block">
                    <figcaption class="nav__title">Educational Paths</figcaption>
                    <ul class="nav__footer-list">
                        <li><a href="">Water Path</a></li>
                        <li><a href="">Ground Path</a></li>
                        <li><a href="">Sun Energy Path</a></li>
                        <li><a href="">Other Paths</a></li>
                        <li><a href="">All Paths</a></li>
                    </ul>
                </figure>
                <figure class="nav__block">
                    <figcaption class="nav__title">Educational Paths</figcaption>
                    <ul class="nav__footer-list">
                            <li><a href="">Water Path</a></li>
                            <li><a href="">Ground Path</a></li>
                            <li><a href="">Sun Energy Path</a></li>
                            <li><a href="">Other Paths</a></li>
                            <li><a href="">All Paths</a></li>
                    </ul>
                </figure>
                <figure class="nav__block">
                    <figcaption class="nav__title">Educational Paths</figcaption>
                    <ul class="nav__footer-list">
                            <li><a href="">Water Path</a></li>
                            <li><a href="">Ground Path</a></li>
                            <li><a href="">Sun Energy Path</a></li>
                            <li><a href="">Other Paths</a></li>
                            <li><a href="">All Paths</a></li>
                    </ul>
                </figure>
            </nav>
            <aside class="social__footer mt-1">
                <ul class="d-flex">
                    <li>
                        <a class="social__icon social__icon--fb" href="">fejs</a>
                    </li>
                    <li>
                        <a class="social__icon social__icon--tw" href="">fejs2</a>
                    </li>
                </ul>
            </aside>
            <aside class="logo__footer mx-auto pt-4 pt-lg-0 mt-5 mt-lg-0 ml-lg-auto d-flex flex-column align-items-center align-items-lg-end">
                <img class="mb-4" src="assets/images/logo.svg" alt="logo Sustain University">
                <br/>
                <small class="paragraph paragraph--short bold dark">Copyright 2019 | New Jersey, USA</small>
            </aside>
        </div>
    </div>
</footer>