<header>
    <div class="container">

        <div class="d-flex justify-content-end">
            <nav class="nav__top">
                <ul class="d-flex justify-content-end">
                    <li><a href="#">about sustain university</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="donate"><a href="#">Donate us</a></li>
                </ul>
            </nav>
        </div>

        <div class="d-flex justify-content-between">
            <nav class="nav__main">
                <button class="hamburger">
                    <span class="hamburger__line">
                    </span>
                    Menu
                </button>
                <ul class="d-none">
                    <li><a href="">Opcja 11</a></li>
                    <li><a href="">Opcja 12</a></li>
                    <li><a href="">Opcja 13</a></li>
                    <li><a href="">Opcja 14</a></li>
                    <li><a href="">Opcja 15</a></li>
                    <li><a href="">Opcja 16</a></li>
                </ul>
            </nav>
            <div class="search">
                <form action="" class="search__form">
                    <input class="search__input" type="text" placeholder="What are looking for?">
                    <input class="search__submit" type="submit" value="">
                </form>
            </div>
            <div class="account__box">
                <ul class="d-flex justify-content-end">
                    <li>
                        <a href="#" class="btn btn--transparent btn--icon btn--sign-in">Sign in</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn--primary btn--icon btn--sign-up">Sign up</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>