<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/styles/bundle.css">
  </head>
  <body>
    {% include 'header.twig' %}
    {% block content %}{% endblock %}
    {% include 'footer.twig' %}
    <script src="assets/scripts/bundle.js"></script>
  </body>
</html>
