<div class="row">
    <div class="opinions col-12 col-lg-6 offset-0 offset-lg-6">
        <!-- <ul class="opinions__dots d-flex flex-row">
            <li class="mr-2"><button class="dot active"></button></li>
            <li class="mr-2"><button class="dot"></button></li>
            <li class="mr-2"><button class="dot"></button></li>
        </ul> -->
        <div class="slick__dots">
            <!-- dots -->
        </div>
        <ul class="opinions__slider">
            <li class="opinions__slide">
                <p class="opinions__desc">
                        Yeah! I built great solar energy
                        thanks Sustain University.
                        It’s awesome!
                </p>

                <div class="d-flex flex-column justify-content-center align-items-center flex-md-row justify-content-md-start">
                    <img class="author__photo" src="https://historitejetes.com/wp-content/uploads/2018/12/whats-your-ideal-man-2-17606-1442609791-1_dblbig.jpg" alt="">
                    <div class="author ml-0 ml-md-4">
                        <p class="author__name">Michał Michańczyk</p>
                        <p class="author__job">Product Designer at Movade</p>
                    </div>
                </div>
            </li>

            <li class="opinions__slide">
                    <p class="opinions__desc">
                            Yeah! I built great solar energy.
                    </p>
    
                    <div class="d-flex flex-column justify-content-center align-items-center flex-md-row justify-content-md-start">
                        <img class="author__photo" src="https://obrazkyprostudenty.webnode.cz/_files/200000263-e214be30f6/johannes_strate_skarf_man_face_field_8373_1920x1080.jpg" alt="">
                        <div class="author ml-0 ml-md-4">
                            <p class="author__name">Michał Michańczyk</p>
                            <p class="author__job">Product Designer at Movade</p>
                        </div>
                    </div>
                </li>

                <li class="opinions__slide">
                        <p class="opinions__desc">
                                Yeah! I built great solar energy
                                thanks Sustain University.
                                It’s awesome!
                                Sustain University.
                                It’s awesome!
                        </p>
        
                        <div class="d-flex flex-column justify-content-center align-items-center flex-md-row justify-content-md-start">
                            <img class="author__photo" src="https://proficentral.com/images/recenze/man1.jpg" alt="">
                            <div class="author ml-0 ml-md-4">
                                <p class="author__name">Michał Michańczyk</p>
                                <p class="author__job">Product Designer at Movade</p>
                            </div>
                        </div>
                    </li>
        </ul>
    </div>
</div>