<ul class="why-us__list d-flex flex-column justify-content-center align-items-start">

    <li class="why-us__element d-flex flex-column flex-lg-row justify-content-start align-items-lg-center align-items-start">

            <div class="col-12 col-lg-5">
                <img class="o-cover" src="assets/images/why1.png" alt="">
            </div>
            <div class="col-12 col-lg-6 offset-0 offset-lg-1">
                <div class="why-us__desc text-center text-lg-left">
                        <p class="subtitle d-block mb-4">
                                Our free video courses are helping
                                ecology and save a lot of money.
                        </p>
                        <p class="paragraph paragraph--long mt-3">
                                Objectively extend leveraged metrics via frictionless infomediaries. Holisticly matrix B2B intellectual capital rather than pandemic materials. Conveniently unleash alternative deliverables via cost effective applications. Dramatically productivate exceptional benefits.
                        </p>
                </div>
             </div>

    </li>

    <li class="why-us__element d-flex flex-column flex-lg-row-reverse justify-content-end align-items-lg-center align-items-start">
                <div class="col-12 col-lg-5 offset-0 offset-lg-1">
                    <img class="o-cover" src="assets/images/why1.png" alt="">
                </div>
                <div class="col-12 col-lg-6">
                    <div class="why-us__desc ml-auto text-center text-lg-right">
                            <p class="subtitle d-block mb-4">
                                    Our free video courses are helping
                                    ecology and save a lot of money.
                            </p>
                            <p class="paragraph paragraph--long mt-3">
                                    Objectively extend leveraged metrics via frictionless infomediaries. Holisticly matrix B2B intellectual capital rather than pandemic materials. Conveniently unleash alternative deliverables via cost effective applications. Dramatically productivate exceptional benefits.
                            </p>
                    </div>
                 </div>
    </li>

</ul>